---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Section from "../components/Section.astro";
---

<Layout title="Angel Moreno">
	<LandingHeader />

	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<Section
				title="Model 3"
				image="/model-3.avif"
				color="black"
				footerText="Disponible con Move III"
			/>
		</div>
		<div class="snap-center">
			<Section
				title="Model S"
				subtitle="Explorar inventario"
				image="/model-s.avif"
				color="black"
			/>
		</div>
		<div class="snap-center">
			<Section
				title="Model X"
				subtitle="Explorar inventario"
				image="/model-x.avif"
				color="black"
			/>
		</div>
		<div class="snap-center">
			<Section
				title="Solar y Powerwall"
				subtitle="Energia para todos"
				image="/solar.avif"
				color="black"
			/>
		</div>
		<div class="snap-center">
			<Section title="Accesorios" image="/powerwall.avif" color="black" />
		</div>
	</main>
</Layout>
