<section
	class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
	data-header-color="white"
>
	<header class="z-30 relative">
		<h2 class="text-white pt-56 text-5xl pb-4 z-10">Model Y</h2>
		<p>
			<a
				class="text-white border-b-[1px] text-sm font-light border-white"
				href="#">Concertar una prueba de conducción</a
			>
		</p>
	</header>
	<footer class="z-30 absolute bottom-3 left-0 right-0">
		<div class="flex gap-5 justify-center pb-8">
			<a
				class="py-3 px-14 rounded-md bg-white text-black text-sm bg-opacity-80"
				href="/">Entrega más rápida</a
			>
			<a class="py-3 px-14 rounded-md bg-black/70 text-white text-sm" href="/"
				>Pedido personalizado</a
			>
		</div>
		<p>
			<a
				class="text-white inline-block border-b-[1px] border-white text-sm"
				href="#">Disponible con Moves III</a
			>
		</p>
	</footer>
	<div class="absolute left-0 top-0 bottom-0 right-0 z-10">
		<video
			src="/video.mp4"
			class="h-full w-full object-cover"
			autoplay
			muted
			loop></video>
	</div>
</section>
